.borderGradient {
  text-align: center;
  position: relative;
  background: linear-gradient(to top, rgba(217, 123, 254), transparent);
  display: inline-block;
  z-index: 2222;
  box-sizing: border-box;
}

.borderGradient::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(to top, #5d1eed, #d97bfe);
  border-radius: 12px;
  z-index: -2;
  pointer-events: none;
}

.borderGradient::after {
  background: #0d0d0d;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  z-index: -1;
}

.gradientOverlay {
  position: absolute;
  top: 15%;
  left: 45%;
  width: 500px;
  height: 500px;
  z-index: 1; /* Above background, below cards */
  rotate: 180deg;
}

@media screen and (max-width: 768px) {
  .borderGradient::before {
    top: -1.22px;
    left: -1.22px;
    right: -1.22px;
    bottom: -1.22px;
    border-radius: 4.89px;
  }
  .borderGradient::after {
    border-radius: 4.89px;
  }
}

@media screen and (min-width: 1024) and (max-width: 1280px) {
  .Fheader {
    font-size: 16px;
  }
  .Fdescription {
    font-size: 14px;
  }
  .FmarginTop {
    margin-top: 7vw;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .Fheader {
    font-size: 22px;
  }
  .Fdescription {
    font-size: 16px;
  }
}
